.nav {
  display: flex;
  margin-left: 213px;
  width: 100%;
}

.a_nav{
  color: black;
  margin-left: 15px; 
  margin-right: 15px;

  &:link {
    text-decoration: none;
  }

  &:hover {
    color:white;
  }
}




.nav_item {
  display: flex;
  max-width: 93px;
  height: 80px;
  @include center;

  &:hover {
    background-color: $hover_color;
    color:white;
  }
}