.product-title {
  @include h2;
  text-align: center;
}

.product-name {
  @include prod-name;
  width: 204px;
  align-items: center;
  text-align: center;
  margin: 0;
}
.product-price {
  @include price;
  align-items: center;
  text-align: center;
  margin:0;
}
.partners-h2 {
  @include h2;
  margin: 0 auto;
  //margin-top: 70px;
}

.footer-title {
  color: $brown-light;
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 50px;
}