
*{transition: all .1s ease-in;}
.text1{
  font-size: 24px;
  padding-top: 8px;
  text-align: center;
  color: #FF8984;
}

.text2{
  font-size: 16px;
  padding-bottom: 12px;
}

.h2{
  text-align: center;
  color: #FF8984;
}

.container1{
  max-width: 790px;
  max-height: 500px;
  background: #3B3F45;
  width: 790px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.container2{
  max-width: 790px;
  max-height: 80px;
  background: #4A4F56;

.container3{
  max-width: 530px;
  max-height: 45px;
  width: 530px;
  height: 45px;
  background: #88839E;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.container4{
  background: #7A7593;
}

.container5{
  
  max-width: 530px;
  max-height: 45px;
  width: 530px;
  height: 45px;
  background: #4A4F56;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  
  
}

.label1{
  font-size: 18px;
  color: white;
}

.container3:hover{
  background-color: #625E77;
  border-style: double;
  border-color: white;
}

input[type=checkbox]:checked + label{
  color: #9B96AC;;
  text-decoration-line: line-through;
  
  
}
